/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define	COLEMAK	0
#define	QWERTY	1
#define	LOWER	2
#define	RAISE	3

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
// |  TAB  |  Q  |  W  |  F   |  P   |  B   |                   |  J   |  L    |  U    |  Y   |   ;   |   '   |
// | TO(1) |  A  |  R  |  S   |  T   |  G   |                   |  M   |  N    |  E    |  I   |   O   | ENTER |
// | SHIFT |  Z  |  X  |  C   |  D   |  V   |  MUTE  |  |       |  K   |  H    |  ,    |  .   |   /   | SHIFT |
//               | CTRL | ALT  | GUI | LOWER|  BKSPC |  | SPACE | RAISE| GUI  | ALT   | CTRL  |
            bindings = <
&kp ESC		&kp N1	&kp N2		&kp N3		&kp N4		&kp N5							&kp N6	&kp N7		&kp N8		&kp N9		&kp N0		&kp MINUS
&kp TAB		&kp Q	&kp W		&kp F		&kp P		&kp B							&kp J	&kp L		&kp U		&kp Y		&kp SEMI	&kp SQT
&to 1		&kp A	&kp R		&kp S		&kp T		&kp G							&kp M	&kp N		&kp E		&kp I		&kp O		&kp RET
&kp LSHFT 	&kp Z	&kp X		&kp C		&kp D		&kp V	&kp C_MUTE	&none		&kp K	&kp H		&kp COMMA	&kp DOT		&kp FSLH	&kp RSHFT
			&kp LCTRL	&kp LALT	&kp LGUI	&mo 2	&kp BSPC	&kp SPACE	&mo 3	&kp RGUI	&kp RALT	&kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
                
        qwerty_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   '   |
// | TO(0) |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   | ENTER |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//               | CTRL| ALT  | GUI | LOWER |  BKSPC |  | SPACE | RAISE| GUI   | ALT   | CTRL |
            bindings = <
&kp ESC		&kp N1	&kp N2		&kp N3		&kp N4		&kp N5							&kp N6	&kp N7		&kp N8		&kp N9		&kp N0		&kp MINUS
&kp TAB		&kp Q	&kp W		&kp E		&kp R		&kp T							&kp Y	&kp U		&kp I		&kp O		&kp P		&kp SQT
&to 0		&kp A	&kp S		&kp D		&kp F		&kp G							&kp H	&kp J		&kp K		&kp L		&kp SEMI	&kp RET
&kp LSHFT	&kp Z	&kp X		&kp C		&kp V		&kp B	&kp C_MUTE	&none		&kp N	&kp M		&kp COMMA	&kp DOT		&kp FSLH	&kp RSHFT
			&kp LCTRL	&kp LALT	&kp LGUI	&mo 2	&kp BSPC	&kp SPACE	&mo 3	&kp RGUI	&kp RALT	&kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// |   `   |  1  |  2  |  3   |      |      |                   |      |       |       |      |       |   +   |
// |       |  4  |  5  |  6   |      |      |                   |      |       |   ^   |      |       |       |
// |       |  7  |  8  |  9   |      |      |                   |      |   <-  |   v   |  ->  |       |       |
// |       |     |  0  |      |      |      |  MUTE  |  |       |      |       |       |      |       |       |
//               |     |      |      |      |        |  |       |      |       |       |      |
            bindings = <
&kp GRAVE	&kp N1	&kp N2	&kp N3	&trans		&trans				&trans	&trans		&trans		&trans		&trans	&kp EQUAL
&trans		&kp N4	&kp N5	&kp N6	&trans		&trans				&trans	&trans		&kp UP		&trans		&trans	&trans
&trans		&kp N7	&kp N8	&kp N9	&kp DLLR	&trans				&trans	&kp LEFT	&kp DOWN	&kp RIGHT	&trans	&trans
&trans		&trans	&kp N0	&trans	&kp LBRC	&trans	&kp C_MUTE	&trans	&trans	&trans		&trans		&trans		&trans	&trans
			&trans	&trans	&trans		&trans	&trans		&trans	&trans	&trans		&trans		&trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |BTCLR| BT1  | BT2  |  BT3  |  BT4  |  BT5 |                 |      |       |       |      |       |       |
// |     | MCTRL| APPEX| LPAD  |       |      |                 |      |       |   ^   |      |       |       |
// |     | SBUP | SBDN |       |       |      |                 |      |   <-  |   v   |  ->  |  DEL  | BKSPC |
// |     |      |      |       |       |      | SCSVR |  |      |      |       |       |      |       |       |
//              |      |       |       |      |       |  |      |      |       |       |      |
            bindings = <
&bt BT_CLR	&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	&bt BT_SEL 4					&trans	&trans		&trans		&trans		&trans	&trans
&trans		&kp INS		&kp PSCRN	&kp K_CMENU	&trans		&trans						&trans	&trans		&kp UP		&trans		&kp N0	&trans
&trans		&kp C_BRI_UP	&kp C_BRI_DN	&trans		&trans		&trans						&trans	&kp LEFT	&kp DOWN	&kp RIGHT	&kp DEL	&kp BSPC
&trans		&trans		&trans		&trans		&trans		&trans		&kp C_AL_SCREEN_SAVER	&trans	&trans	&trans		&trans		&trans		&trans	&trans
				&trans		&trans		&trans		&trans		&trans			&trans	&trans	&trans		&trans		&trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
